.contactMe {
  height: 100%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;

  @media (max-width: 724px) {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }
  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (max-width: 724px) {
      gap: 20px;
      text-align: center;
      align-items: center;
      padding-top: 70px;
    }
    .item {
      @media (min-width: 723px) and (max-width: 1008px) {
        width: 100%;
        align-items: center;
        justify-content: center;
        align-self: center;
        text-align: center;
      }
    }
    h1 {
      font-size: 60px;
      white-space: nowrap;
      line-height: 88px;

      @media (min-width: 728px) and (max-width: 1402px) {
        margin-top: -10%;
      }
      @media (min-width: 723px) and (max-width: 1008px) {
        width: 100%;
        font-size: 45px;
        align-items: center;
        justify-content: center;
        align-self: center;
        text-align: center;
      }
      @media (max-width: 724px) {
        font-size: 25px;
      }
    }
    span {
      font-weight: 300;
      @media (min-width: 723px) and (max-width: 1008px) {
        width: 100%;
        align-items: center;
        justify-content: center;
        align-self: center;
        text-align: center;
      }
      @media (max-width: 724px) {
        font-size: 13px;
        margin-bottom: 10%;
      }
    }
  }
  .formContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    @media (min-width: 723px) and (max-width: 1008px) {
      width: 100%;
      align-items: center;
      justify-content: center;
      align-self: center;
      text-align: center;
    }
    @media (max-width: 724px) {
      width: 100%;
    }
    .MessageMe {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 20px;
      @media (min-width: 723px) and (max-width: 1008px) {
        width: 50%;
      }
      input,
      textarea {
        padding: 20px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 5px;
        width: 100%;
      }
      button {
        width: 100%;
        padding: 20px;
        border: none;
        background-color: orange;
        cursor: pointer;
        border-radius: 5px;
        font-size: 500;
      }
    }
    .imageCounainer {
      @media (min-width: 1402px) and (max-width: 6402px) {
        display: none;
      }
      @media (min-width: 728px) and (max-width: 1402px) {
        display: none;
      }
      @media (max-width: 724px) {
        top: 33rem;
        right: 50px;
       
      }
      img {
        @media (max-width: 724px) {
          display: block;
          height: 30%;
          width: 68%;
          margin-left:15%
        }
      }
    }
  }
}
